<center><h1> welcome to home page</h1>
<table  border=1 style="width:50%">
  <tr>
    <td><h3>first name</h3></td>
    <td>anoob</td>
 </tr>
<tr>
    <td>middle name</td>
   <td>k</td>
 </tr>






 
    <td>last name</td>
    <td>age</td>
    <td>address</td>
    <td>mobile number</td>
  </tr>
  
    
    <td>bava</td>
    <td>25</td>
    <td>nedumbassery</td>
    <td>9388978817</td>
</table> 
