<h1><center>welcome to qualifications</center></h1>
<div class="qual1">
	<center>
		<table border=1 witdth=50%>
			<tr>
				<th>qualification</th>
				<th> college/school </th>
				<th> year </th>
				<th> mark </th>
			</tr>
			<tr>
				<td>Btech</td>
				<td> ASIET </td>
				<td> 2015</td>
				<td> 70</td>
			</tr>
			<tr>
				<td>Diploma</td>
				<td> POLY</td>
				<td> 2010</td>
				<td> 72.21</td>
			</tr>
			<tr>
				<td>Plus two</td>
				<td> Athani </td>
				<td> 2007</td>
				<td> 72.3</td>
			</tr>
			<tr>
				<td>THSLC</td>
				<td> Nedumbassery</td>
				<td> 2005</td>
				<td> 68.7</td>
			</tr>
		</table>
		<p><%=link_to "click to home page", data_home_path%></p>
	</center>
</div>